@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

* {
    border: 0;
    padding: 0;
    margin: 0;
}
body {
    background-color:white;
    font-family: 'Roboto', sans-serif;
}

header {
    padding-bottom: 36px;
    margin: 20px auto;
}

header p {
    width: 100px;
}

header .links {
    margin-left: 125px;
}

.links a {
    margin: 0 30px;
    font-size: 16px;
    color: #111111;
    text-decoration: none;
}

.links a img {
    width: 90px;
    height: 27px;
    padding-top: 10px;
}
.board {
    width: 940px;
    height: 366px;
    margin: 0 auto;
    background: #FBDFDB;
    border-radius: 30px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.board .board-content {
    margin-top: 120px;
    margin-left: 60px;
}

.board .board-content h1 {
    font-size: 32px;
}

.board .board-content p {
    margin-top: 10px;
    padding-right: 110px;
}
.board img {
    margin-left: 140px;
    margin-top: 66px;
}



.above-recipes {
    max-width: 940px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;    
}



.recipes {
    max-width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px
}

.recipe {
    cursor: pointer;
}

.recipe .recipe-logo img {
    width: 300px;
    height: 140px;
    border-radius: 15px;
}

.recipe .recipe-content{
    padding-top: 20px;
    line-height: 21px;
}

.recipe .recipe-content p{
    margin: 0;
}

.recipe .recipe-info p{
    margin: 5px 0 20px 0px;
    line-height: 16px;
    font-size: 14px;
    color: #777777;
}

footer {
    padding: 23px;
    background-color: #EEEEEE;
    width: 100%;
    margin-top: 50px;
    align-items: center;
    justify-content: center;

}

footer p{
    color: #999999;
    line-height: 16px;
    text-align: center;
    font-size: 14px;
}

/* ----- MODAL ----- */
.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 660px;
    height: 413px;
    margin: 10vh auto;
    position: relative;
    border-radius: 16px;
}

.modal .close-modal {
    color: black;
    position: absolute;
    bottom: 30px;
    left: 325px;
    cursor: pointer;
}

/* ----- MODAL.ACTIVE ----- */
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}



.modal .modal-content .modal-img-container img {
    border-radius: 15px;
    margin: 30px;
    object-fit: cover;
    width: 600px;
    height: 200px;
} 

.modal .modal-content p#recipe-name{
    margin: 0 0 20px 0px;
    text-align: center;
    line-height: 16px;
    font-size: 18px;
    font-weight: bold;
}

.modal .modal-content p#recipe-owner{
    margin: 5px 0 20px 0px;
    text-align: center;
    line-height: 16px;
    font-size: 14px;
    color: #777777;
}

/* ==== ABOUT.HTML ====*/

.about-foodfy, .how-started, .our-recipies {
    margin: 0 auto;
    width: 940px;
}

.about-foodfy strong, .how-started strong, .our-recipies strong {
    font-size: 20px;
    color: #111111;
    line-height: 28px;
    margin-top: 10px;
}


.about-foodfy p, .how-started p, .our-recipies p {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    margin-bottom: 30px;
    margin-top: 20px;
}


